body {
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

#top {
    background-color: #09a246;
    width: 100%;
    height: 600px;
}

#img1 {
    position: absolute;
    top: -80px;
    left: 30px;
    width: 96%;
}

#img2 {
    position: absolute;
    width: 260px;
    top: 15px;
    left: 620px;
}

#bottom {
    background-color: rgb(244, 238, 238);
    width: 100%;
    height: 500px;
}

#main {
    width: 47%;
    height: 780px;
    top: 90px;
    left: 230px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    padding: 0px 180px;
}

#main>h1 {
    padding: 10px;
    color: #268fd0;
    font-size: 45px;
    text-align: center;
}

#app {
    display: inline-flex;
    padding: 20px;
    background-color: rgb(245, 241, 241);
    border-radius: 15px;
    font-size: 15px;
}

#app svg {
    width: 30px;
    padding-right: 15px;
}

#enter {
    display: inline-flex;
    padding: 65px 0px;
    
}
#fill{
   
    box-shadow:  rgba(205, 197, 197, 0.8) 3px 0px 0px 0px;
   
}
#fill>form>input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 15px;
    width: 80%;

}

#fill>form>input:nth-child(3) {
    padding: 0px;
    margin:15px 45px;
    width: auto;
}

span {
    margin: 0px;
    text-align: center;
}
#fill{
    position: absolute;
    top: 300px;
    left: 170px;
    width: 40%;
}

#fill>form>button {
    padding: 15px 40px;
   margin: 50px 100px 30px 20px;
   border-radius: 5px;
   background-color: #08c353;
   color: white;
   font-size: 18px;
   border: none;
}
#main p{
    text-align: center;
    margin: -30px 0px 60px 0px;
}
#tabs{
position: absolute;
top: 310px;
left: 630px;
}
#tabs>div{
    margin: 12px;
}
#tab1{
    display: inline-flex;
    border: none;
    background-color: #4267B2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
#tab1 img{
    width: 25px;
    margin: 10px 20px;
   
}
#tab1>div:last-child{
   padding: 15px 15px 0px 0px;
   
}
#tab2{
    display: inline-flex;
    border: none;
    background-color: #4285f4 ;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
#tab2 img{
    width: 40px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#tab2>div:last-child{
    padding: 12px 30px 0px 25px;
    
 }
#tab3{
    display: inline-flex;
    border: none;
    background-color: black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
#tab3 img{
    width: 30px;
    margin: 10px 20px;
}
#tab3>div:last-child{
    padding: 15px 25px 0px 20px;
    
 }
 p{
    position: absolute;
    top: 700px;
    left: 450px;
 }


#bottom{
    /* position: absolute; */

    top: 700px;
    left: 0px;
  text-align: center;
    height: 300px;
    width: 100%;
    padding: 330px 0px 70px 0px;
margin: auto;
}
#appstore>img{
    width: 200px;
    margin: 5px 5px 30px 5px;
}
#ratingstar>img{
    width: 40px;
}
#bottom h1{
    font-size: 35px;
    color:#46618a ;
}
#bottom h3{
    font-size: 25px;
    color: #46618a;
}









 nav{
    width: 86.8%;
    height: 130px;
    line-height: 75px;
    padding: 0px 100px;
    /* position:fixed; */
    background-color: rgb(221, 218, 218);
 }
 nav>ul{
    position: absolute;
    top: 1310px;
   left: 800px;
    width: 50%;
 list-style: none;
    display: inline-flex; 
 }
 nav>ul>li{
    font-size: 22px;
    padding: 0px 0px 0px 75px;
    color: #46618a;
 }
 nav>ul>li:hover{
    text-decoration: underline;
 }
 nav>div{
    color: #46618a;
    margin-left: -60px;
    padding: 25px 0px;
    float: left;
font-size: 22px;
 }